mapbuilder/lib/schemas/config.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema targetNamespace="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:mb="http://mapbuilder.sourceforge.net/mapbuilder" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="0.2.1">
  <xs:annotation>
    <xs:appinfo>$Id$</xs:appinfo>
    <xs:documentation xml:lang="en">
      <xs:description>Application schema for Mapbuilder runtime configuration</xs:description>
      <xs:copyright>License: LGPL as per: http://www.gnu.org/copyleft/lesser.html</xs:copyright>
    </xs:documentation>
  </xs:annotation>

  <!-- imports -->
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>

  <!-- root element -->
  <xs:element name="MapbuilderConfig">
    <xs:annotation>
      <xs:documentation>root element for all Mapbuilder applications</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mb:AbstractModelBaseType">
          <xs:sequence>
            <xs:element name="skinDir" type="mb:urlPathType" minOccurs="1"/>
            <xs:element name="userWidgetTextDir" type="mb:urlPathType" minOccurs="0"/>
            <xs:element name="proxyUrl" type="mb:urlPathType" minOccurs="0"/>
            <xs:element name="serializeUrl" type="mb:urlPathType" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="version" type="xs:string" use="required" fixed="0.2.1">
            <xs:annotation>
              <xs:appinfo source="An attribute &quot;version&quot; representing the published specification version number, contains three positive integers, separated by decimal points, in the form &quot;x.y.z&quot;. Each context specification is numbered independently. This attribute is required."/>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!--  global base types -->
  <xs:complexType name="AbstractModelBaseType" abstract="true">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="defaultModelUrl" type="mb:urlPathType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The URL where the model gets loaded from.  If the method is HTTP GET, then include the full query string in the URL.  Optional, if present, the model will be loaded when the application loads.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="method" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>the HTTP method to use to retrieve the model.  Optional, defaults to GET.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scriptFile" type="mb:urlPathType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>this property specifies a relative or absolute URL to a JavaScript file that can replace the default JavaScript object.  The file must be served from the same domain as the mapbuilder application.  Optional, if missing a default JavaScript file will be used (in the lib/widget directory with the same name as the widget)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="debug" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>an empty property element to show debugging output during model processing.  Optional.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="models" type="mb:modelsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A list of child models objects where a parent/child relationship can be established between models (e.g. a DescribeFeatureType model can be a child of a WfsCapabilities model.  Optional.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="widgets" type="mb:widgetsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>a list of widgets for this model.  Optional, however a model will usually have at least one widget.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tools" type="mb:toolsType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>a list of tools that can be used to control this model. Optional.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="namespace" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The namespace that will be used by Xpath queries on this model.  Optional.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nodeSelectXpath" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="mb:idType" use="required"/>
    <xs:attribute name="template" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="AbstractWidgetBaseType" abstract="true">
    <xs:sequence>
      <xs:element name="htmlTagId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>the ID of the HTML element in the web page where this widget's output should be placed.  Optional, if present, this value will be used instead of the widget's ID attribute.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="outputNodeId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>the ID to be assigned to the widget stylesheet output.  This property can be used to share the same HTML element among widgets if multiple widgets use the same value for this property.  Optional, if not present, an id will be automatically assigned to the widget stylehseet output. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="targetModel" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>used so that the actions of this widget can affect a model other than this widget's parent model.  The value of this property is the ID of another model object in the config document.  Every widget will have a targetModel property.  Optional, if missing the targetModel is set to the parent model</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scriptFile" type="mb:urlPathType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>this property specifies a relative or absolute URL to a JavaScript file that can replace the default JavaScript object.  The file must be served from the same domain as the mapbuilder application.  Optional, if missing a default JavaScript file will be used (in the lib/widget directory with the same name as the widget)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="debug" nillable="true" minOccurs="0">
        <xs:annotation>
          <xs:documentation>an empty property element to show debugging output during stylesheet processing.  Optional.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="autoRefresh" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>if this property has a value of "false", automatic refresh of the widget output is suppressed.  Optional, defaults to true</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="toolId" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>i</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="mb:idType" use="required"/>
  </xs:complexType>
  <xs:complexType name="AbstractWidgetBaseXSLType" abstract="true">
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseType">
        <xs:sequence>
          <xs:element name="stylesheet" type="mb:urlPathType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>this property specifies a relative or absolute URL to a stylesheet that can replace the default stylesheet.  The stylesheet must be served from the same domain as the mapbuilder application.  Optional, if missing a default stylesheet will be used (in the lib/widget directory with the same name as the widget)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="parseHTMLNodes" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>if true, HTML entities (like found in RSS feeds) will be parsed and converted to HTML, instead of showing HTML source code.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AbstractButtonBaseType" abstract="true">
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseType">
        <xs:sequence>
          <xs:element name="buttonBar" type="xs:string">
            <xs:annotation>
              <xs:documentation>equivalent to the htmlTagId property for placing buttons in a page.  Buttons get appended to this HTML element in sequence. Buttons with the same buttonBar property will belong to the same buttonBar group.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="htmlTagId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>If set this property will be used for placing the buttons in a page. Buttons get appended to this HTML element in sequence. Use this property if you want to place buttons with the same buttonBar property on a different place in the web page.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="targetModel" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>the id of a model object which this button acts on.  Optional, if absent the action happens on the parent model of this button.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="targetContext" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>the id of a context object of the map on which to use the button.  Optional for buttons that have the context of the desired map as target model.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="class" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>specifies the type of button.  Permitted values include "Button", "Toggle" and "RadioButton".  A Button class will execute it's action immediately when pressed.  A "Toggle" will be enabled when clicked, and disabled when clicked again, without affecting other buttons. A "RadioButton" has enabled and disabled state and only one button in a buttonBar group can be enabled at any one time.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="selected" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>boolean value (true|false) to inidicate the initial state of this button</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="enabledSrc" type="mb:urlPathType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>partial skin path to graphic source when this button is selected</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="disabledSrc" type="mb:urlPathType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>partial skin path to graphic source when this button is not selected</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="tooltip" type="mb:tooltipType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>text to be used when the mouse hovers over this button.  Multiple languages are supported by using an "xml:lang" attribute on this property.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="action" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
          <xs:element name="cursor" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AbstractToolBaseType" abstract="true">
    <xs:sequence>
      <xs:element name="targetModel" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>the id of a model object which this tool acts on.  Optional, if absent the action happens on the parent model of this tool.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="mouseHandler" type="xs:string" minOccurs="0">
        <xs:annotation>
          <xs:documentation>the id of a tool object on which to register mouse events.  Optional, if absent, not mouse events are handled and the action is the doSelect function</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="scriptFile" type="mb:urlPathType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>this property specifies a relative or absolute URL to a JavaScript file that can replace the default JavaScript object.  The file must be served from the same domain as the mapbuilder application.  Optional, if missing a default JavaScript file will be used (in the lib/tool directory with the same name as the widget)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="enabled" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>a flag to indicate if this tool should initially be enabled.  Optional, accepts values of true and false.  Tools are enabled by default.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="mb:idType" use="optional"/>
  </xs:complexType>

  <!--  document structure -->
  <xs:complexType name="modelsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="Context" type="mb:ContextType"/>
      <xs:element name="FeatureCollection" type="mb:FeatureCollectionType"/>
      <xs:element name="GeoRSS" type="mb:GeoRSSType"/>
      <xs:element name="Logger" type="mb:LoggerType"/>
      <xs:element name="Model" type="mb:ModelType">
        <xs:annotation>
          <xs:documentation>A generic model to represent an XML document where no specialized get or set methods are required</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OwsCatResources" type="mb:OwsCatResourcesType"/>
      <xs:element name="OwsContext" type="mb:ContextType"/>
      <xs:element name="StyledLayerDescriptor" type="mb:StyledLayerDescriptorType"/>
      <xs:element name="Transaction" type="mb:TransactionType"/>
      <xs:element name="WfsCapabilities" type="mb:WfsCapabilitiesType"/>
      <xs:element name="WmsCapabilities" type="mb:WmsCapabilitiesType"/>
      <xs:element name="WpsCapabilities" type="mb:WpsCapabilitiesType"/>
      <xs:element name="WpsDescribeProcess" type="mb:WpsDescribeProcessType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="widgetsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="Abstract" type="mb:WidgetType"/>
      <xs:element name="AoiBoxOL" type="mb:AoiBoxOLType"/>
      <xs:element name="AoiForm" type="mb:AoiFormType"/>
      <xs:element name="Back" type="mb:ButtonType"/>
      <xs:element name="Button" type="mb:ButtonType">
        <xs:annotation>
          <xs:documentation>A generic button</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CatSearchForm" type="mb:WidgetType"/>
      <xs:element name="CollectionList" type="mb:CollectionListType"/>
      <xs:element name="CursorTrack" type="mb:CursorTrackType"/>
      <xs:element name="DeleteFeature" type="mb:DeleteFeatureType"/>
      <xs:element name="DragPan" type="mb:ButtonType"/>
      <xs:element name="EditLine" type="mb:EditButtonBaseType"/>
      <xs:element name="EditPoint" type="mb:EditButtonBaseType"/>
      <xs:element name="EditPolygon" type="mb:EditButtonBaseType"/>
      <xs:element name="EventLog" type="mb:WidgetType"/>
      <xs:element name="ExampleList" type="mb:WidgetType"/>
      <xs:element name="FeatureInfo" type="mb:WidgetType"/>
      <xs:element name="FeatureList" type="mb:WidgetType"/>
      <xs:element name="FilterAttributes" type="mb:WidgetType"/>
      <xs:element name="Forward" type="mb:ButtonType"/>
      <xs:element name="GetFeatureInfo" type="mb:GetFeatureInfoType"/>
      <xs:element name="GetFeatureInfoWSR" type="mb:GetFeatureInfoWSRType"/>
      <xs:element name="GmlRendererConfig" type="mb:GmlRendererConfigType"/>
      <xs:element name="GmlRendererOL" type="mb:GmlRendererOLType"/>
      <xs:element name="Graticule" type="mb:GraticuleType"/>
      <xs:element name="InsertFeature" type="mb:InsertFeatureType"/>
      <xs:element name="LayerControl" type="mb:LayerControlType"/>
      <xs:element name="Legend" type="mb:LegendType"/>
      <xs:element name="LegendGraphic" type="mb:LegendGraphicType"/>
      <xs:element name="Loading2" type="mb:Loading2Type"/>
      <xs:element name="Locations" type="mb:LocationsType"/>
      <xs:element name="MapPaneOL" type="mb:MapPaneOLType"/>
      <xs:element name="MapScaleBar" type="mb:MapScaleBarType"/>
      <xs:element name="MapScaleText" type="mb:MapScaleTextType"/>
      <xs:element name="MapTitle" type="mb:WidgetType"/>
      <xs:element name="Measurement" type="mb:EditButtonBaseType"/>
      <xs:element name="ModelStatus" type="mb:ModelStatusType"/>
      <xs:element name="ModelUrlInput" type="mb:ModelUrlInputType"/>
      <xs:element name="OpenLSForm" type="mb:OpenLSFormType"/>
      <xs:element name="OpenLSResponse" type="mb:OpenLSResponseType"/>
      <xs:element name="OverviewMap" type="mb:OverviewMapType"/>
      <xs:element name="PanZoomBar" type="mb:PanZoomBarType"/>
      <xs:element name="Reset" type="mb:ButtonType"/>
      <xs:element name="Save" type="mb:SaveType"/>
      <xs:element name="SaveModel" type="mb:SaveModelType"/>
      <xs:element name="SearchWidget" type="mb:SearchWidgetType"/>
      <xs:element name="SelectAllMapLayers" type="mb:WidgetType"/>
      <xs:element name="SelectFeatureType" type="mb:WidgetType"/>
      <xs:element name="SelectFromAtomFeed" type="mb:SelectFromAtomFeedType"/>
      <xs:element name="SelectMapLayers" type="mb:WidgetType"/>
      <xs:element name="SelectTimeFrame" type="mb:WidgetType"/>
      <xs:element name="ServiceRegistryList" type="mb:WidgetType"/>
      <xs:element name="SetAoi" type="mb:ButtonType"/>
      <xs:element name="SLDEditor" type="mb:WidgetType"/>
      <xs:element name="ShowDistance" type="mb:WidgetType"/>
      <xs:element name="TabbedContent" type="mb:TabbedContentType"/>
      <xs:element name="Timestamp" type="mb:TimestampType"/>
      <xs:element name="TipWidgetOL" type="mb:TipWidgetOLType"/>
      <xs:element name="TipWidgetConfig" type="mb:TipWidgetConfigType"/>
      <xs:element name="TransactionResponse" type="mb:WidgetType"/>
      <xs:element name="Version" type="mb:WidgetType"/>
      <xs:element name="WebServiceForm" type="mb:WebServiceFormType"/>
      <xs:element name="WfsGetFeature" type="mb:WfsGetFeatureType"/>
      <xs:element name="Widget" type="mb:WidgetType">
        <xs:annotation>
          <xs:documentation>A generic widget</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ZoomIn" type="mb:ButtonType"/>
      <xs:element name="ZoomOut" type="mb:ButtonType"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="toolsType">
    <xs:choice maxOccurs="unbounded">
      <xs:element name="Caps2Context" type="mb:Caps2ContextType"/>
      <xs:element name="EditContext" type="mb:EditContextType"/>
      <xs:element name="EditSLD" type="mb:EditSLDType"/>
      <xs:element name="FeatureSelectHandler" type="mb:FeatureSelectHandlerType"/>
      <xs:element name="History" type="mb:HistoryType"/>
      <xs:element name="MergeModels" type="mb:MergeModelsType"/>
      <xs:element name="MovieLoop" type="mb:MovieLoopType"/>
      <xs:element name="Timer" type="mb:TimerType"/>
      <xs:element name="WebServiceRequest" type="mb:WebServiceRequestType"/>
      <xs:element name="ZoomToAoi" type="mb:ZoomToAoiType"/>
    </xs:choice>
  </xs:complexType>

  <!-- global model extension types; Models type represent different types of XML documents. Use Model for a generic XML document where no customization or specialized methods are required-->
  <xs:complexType name="ContextType">
    <xs:annotation>
      <xs:documentation>A Web Map Context document as specified by the Open Geospatial Consortium (http://www.opengeospatial.org/docs/03-036r2.pdf)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractModelBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FeatureCollectionType">
    <xs:annotation>
      <xs:documentation>A representation of a geographic Feature or Feature Collection in GML as specified by the Open Geospatial Consortium (http://www.opengeospatial.org/docs/02-069.pdf) </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractModelBaseType">
        <xs:sequence>
          <xs:element name="featureTagName" type="xs:string" minOccurs="0"/>
          <xs:element name="coordsTagName" type="xs:string" minOccurs="0"/>
          <xs:element name="coordSelectXpath" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GeoRSSType">
    <xs:annotation>
      <xs:documentation>GeoRSS</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:ModelType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LoggerType">
    <xs:annotation>
      <xs:documentation>Records a log of events that occur over the course of mapbuilder execution</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractModelBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModelType">
    <xs:annotation>
      <xs:documentation>A generic base document type to handle any XML document (without any specialized methods)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractModelBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OwsCatResourcesType">
    <xs:annotation>
      <xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:FeatureCollectionType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StyledLayerDescriptorType">
    <xs:annotation>
      <xs:documentation>Stores an SLD file as defined by the Open Geospatial Consortium (http://www.opengeospatial.org/)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractModelBaseType">
        <xs:sequence>
          <xs:element name="sldXPath" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>XPath pointing to the sld root node within the model. This is useful for extracting sld information from eg. wmc context documents</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransactionType">
    <xs:annotation>
      <xs:documentation>A response from a WFS Transaction operation</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractModelBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WfsCapabilitiesType">
    <xs:annotation>
      <xs:documentation>A document describing the capabilities of an OGC Web Feature Service (WFS) as specified by the Open Geospatial Consortium (https://portal.opengeospatial.org/files/?artifact_id=7176)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractModelBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WmsCapabilitiesType">
    <xs:annotation>
      <xs:documentation>A document describing the capabilities of an OGC Web Map Service (WMS) as specified by the Open Geospatial Consortium (http://portal.opengeospatial.org/files/?artifact_id=5316)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractModelBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WpsCapabilitiesType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractModelBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WpsDescribeProcessType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractModelBaseType"/>
    </xs:complexContent>
  </xs:complexType>

  <!-- global widget extension types -->
  <xs:complexType name="AoiBoxOLType">
    <xs:annotation>
      <xs:documentation>A widget to display a map container model's AOI box</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AoiFormType">
    <xs:annotation>
      <xs:documentation>Displays a form with North, South, East, West coordinates to read and set the model AOI</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
          <xs:element name="formName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ButtonType">
    <xs:annotation>
      <xs:documentation>A generic instance of a ButtonBase object</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractButtonBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SelectFromAtomFeedType">
    <xs:annotation>
      <xs:documentation>A widget which displays a selectable list of elements from an atom feed. When the element is selected, the referenced atom XML document is loaded into the targetModel. This can be used to render a list of Context documents, then load the selected Context when selected.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CollectionListType">
    <xs:annotation>
      <xs:documentation>A widget to display a list of context documents contained in a ContextCollection</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CursorTrackType">
    <xs:annotation>
      <xs:documentation>A widget to display the mouse coordinates when it is over a MapPane</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="showPx" type="xs:boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>display coordinates in pixel coordinates</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="showXY" type="xs:boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>display coordinates in XY coordinates</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="showLatLong" type="xs:boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>display coordinates in latitute/longitude coordinates (default)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="showDMS" type="xs:boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>display coordinates in latitute/longitude in DD MM SS.S format (degree, minutes, seconds)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="showDM" type="xs:boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>display coordinates in latitute/longitude in DD MM.MMMM format (degree, minutes)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="showMGRS" type="xs:boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>display coordinates in Military Grid Reference System</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="precision" type="xs:integer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>optional precision of the coordinates (default = 1)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="showPanButton" type="xs:boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>show a pan button (default is false)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="showZoomButton" type="xs:boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>show a zoom button (default is false)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="zoomLevel" type="xs:integer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>level for zooming</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="zoomScale" type="xs:integer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>scale for zooming (not used, if level was defined)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="panButtonSrc" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>partial skin path to graphic source of the pan button (necessary if showPanButton is true)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="zoomButtonSrc" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>partial skin path to graphic source of the zoom button (necessary if showPanButton is true)</xs:documentation>
            </xs:annotation>
          </xs:element>
          
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeleteFeatureType">
    <xs:annotation>
      <xs:documentation>When this button is selected, a WFS DeleteFeature request is build from the targetModel and posted to the WFS.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractButtonBaseType">
        <xs:sequence>
          <xs:element name="transactionResponseModel" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The model which will be populated with the server response from a transaction request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="webServiceUrl" type="mb:urlPathType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The base URL of the Web Service that will be queried.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
   <xs:complexType name="ExampleList">
    <xs:annotation>
      <xs:documentation>A very specific widget to render the same example menu on all examples.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EditButtonBaseType">
    <xs:annotation>
      <xs:documentation>After this button is selected, clicks on a MapPane will add a GML coord to a Line the targetModel FeatureCollection.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractButtonBaseType">
        <xs:sequence>
          <xs:element name="transactionResponseModel" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The model which will be populated with the server response from a transaction request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="appendOnEdit" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Should a new empty feature be appended to the model after creating one? Default is true.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="featureXpath" type="xs:string">
            <xs:annotation>
              <xs:documentation>Xpath of the gml:coordinates in the FeatureCollection that will be updated.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="defaultModelUrl" type="mb:urlPathType">
            <xs:annotation>
              <xs:documentation>URL to an XML file which contains a default FeatureCollect.  The XML will be loaded into the targetModel when this button is selected.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetFeatureInfoType">
    <xs:annotation>
      <xs:documentation>A response from a WMS for a GetFeatureInfo operation</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractButtonBaseType">
        <xs:sequence>
          <xs:element name="stylesheet" type="xs:string" minOccurs="0"/>
          <xs:element name="infoFormat" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The Content-Type for the feature request.  Either application/vnd.ogc.gml or text/html; defaults to application/vnd.ogc.gml</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="featureCount" type="xs:integer" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetFeatureInfoWSRType">
    <xs:annotation>
      <xs:documentation>A response from a WMS for a GetFeatureInfo operation</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractButtonBaseType">
        <xs:sequence>
          <xs:element name="controller" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Controller that handles the request. This has to point to the id of a WebServiceRequest tool.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="tolerance" type="xs:integer" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Tolerance in pixels around the click point for WFS:GetFeature. Default is 3.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GmlRendererBaseType">
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseType">
        <xs:sequence>
          <xs:element name="featureSRS" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>SRS of the features to display. If not specified, the map SRS is assumed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sldModel" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>id of a StyledLayerDescriptor model that holds sld styles for the features to render.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="defaultStyleName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Name of the user style in the sld model that should be used to render features.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="selectStyleName" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Name of the user style in the sld model that should be used to render features when they are selected (eg. when hovered with the mouse).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="hoverCursor" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>CSS cursor type of the cursor that should be used when hovering over features. This will have no effect if there is no FeatureSelectHandler tool attached to the target model.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GmlRendererConfigType">
    <xs:annotation>
      <xs:documentation>Configuration widget for a GmlRendererOL in a MergeModel. Because only one GmlRendererLayer can handle events, multiple vector layers that require user interaction (like hover/click) effects are merged into a MergeModel. GmlRendererConfig makes it possible to use different configurations (eg. sld styling) for sourceModels.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:GmlRendererBaseType">
        <xs:sequence>
          <xs:element name="targetWidget" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GmlRendererOLType">
    <xs:annotation>
      <xs:documentation>A widget to render GML document using OpenLayers vector rendering</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:GmlRendererBaseType">
        <xs:sequence>
          <xs:element name="stylesheet" type="mb:urlPathType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>this property specifies a relative or absolute URL to a stylesheet that can replace the default stylesheet.  The stylesheet must be served from the same domain as the mapbuilder application.  Optional, if missing a default stylesheet will be used (in the lib/widget directory with the same name as the widget)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="featureOnClick" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>id of a widget that performs onClick action when a feature is clicked.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="featureOnHover" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>id of a widget that performs onHover action when a feature is hovered.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GraticuleType">
    <xs:annotation>
      <xs:documentation>tbd</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractButtonBaseType">
        <xs:sequence>
          <xs:element name="color" type="xs:string"/>
          <xs:element name="mapContainerId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Used to assign an ID to a container DIV element for 2 dimensional map widgets.  Multiple widgets may share this container for rendering their output. The first model encountered in the config file using this ID becomes the "source" model for this widget so that extent, AOI and orther map related data can be shared by multiple models.   Required.  </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InsertFeatureType">
    <xs:annotation>
      <xs:documentation>When this button is selected, a WFS InsertFeature request is build from the targetModel and posted to the WFS.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractButtonBaseType">
        <xs:sequence>
          <xs:element name="transactionResponseModel" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The model which will be populated with the server response from a transaction request.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="webServiceUrl" type="mb:urlPathType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The base URL of the Web Service that will be queried.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LayerControlType">
    <xs:annotation>
      <xs:documentation>A widget for layer control.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:WidgetType">
        <xs:sequence>
          <xs:element name="opacity" type="xs:boolean" minOccurs="0"/>
          <xs:element name="legendImageEnable" type="mb:urlPathType" minOccurs="0"/>
          <xs:element name="legendImageDisable" type="mb:urlPathType" minOccurs="0"/>
          <xs:element name="moveUpImage" type="mb:urlPathType" minOccurs="0"/>
          <xs:element name="moveDownImage" type="mb:urlPathType"  minOccurs="0"/>
          <xs:element name="deleteImage" type="mb:urlPathType"  minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LegendType">
    <xs:annotation>
      <xs:documentation>Simple legend for context documents, includes layer title and visibility checkbox</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LegendGraphicType">
    <xs:annotation>
      <xs:documentation>Render and update a Legend from a Web Map Context.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Loading2Type">
    <xs:annotation>
      <xs:documentation>A widget to render a "loading..." message.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseType">
        <xs:sequence>
          <xs:element name="mapContainerId" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Used to assign an ID to a container DIV element for 2 dimensional map widgets.  Multiple widgets may share this container for rendering their output. The first model encountered in the config file using this ID becomes the "source" model for this widget so that extent, AOI and orther map related data can be shared by multiple models.   Optional.  </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="imageSrc" type="mb:urlPathType" minOccurs="0"/>
          <xs:element name="textMessage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationsType">
    <xs:annotation>
      <xs:documentation>A widget to display contents of a Locations GML model (quick View presets or gazetteer output) and allow setting the AOI/zoom area for a Context model</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="selectSize" type="xs:integer" minOccurs="0">
            <xs:annotation>
              <xs:documentation>defines the size of the select box, i.e. how many lines show in the scroll box; defaults to 1</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MapPaneOLType">
    <xs:annotation>
      <xs:documentation>Widget to render a map from an OGC context document.  The layers are rendered using http://openlayers.org .</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseType">
        <xs:sequence>
          <xs:element name="loadingSrc" type="mb:urlPathType" minOccurs="0"/>
          <xs:element name="maxExtent" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Sets the maximum extent of the map. This is not the initial extent when the map is loaded (that's the bounding box from the context), but it is the maximum extent that the user can navigate around in.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="maxResolution" type="xs:double" minOccurs="0"/>
          <xs:element name="minResolution" type="xs:double" minOccurs="0"/>
          <xs:element name="resolutions" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Set a list of fixed resolutions for OL manually.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="scales" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Set a list of fixed scales for OL manually. This overrides resolutions!</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="fixedSize" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>if this is set to true, the size will be taken from the context doc. Otherwise, it is dynamically taken from the parent element.</xs:documentation>
            </xs:annotation>
          </xs:element>
           <xs:element name="singleTile" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>if this is set to false, a WMS layer will be requested according to the tileschema of the baselayer. Otherwise, it will request a single tile.</xs:documentation>
            </xs:annotation>
          </xs:element>
           <xs:element name="transitionEffect" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For untiled wms layers: if set to "resize", map will not disappear while panning and zooming.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="tileGutter" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For tiled wms layers: Overlap of map tiles in pixels. Useful for preventing rendering artefacts at tile edges. Recommended values: 0-15, default is 0 (no gutter at all).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="tileBuffer" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For tiled wms layers: how many rows of tiles should be preloaded outside the visible map? Large values mean slow loading, small ones mean longer delays when panning. Recommended values: 1-3, default is 2.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="tileSize" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For tiled wms layers: how many pixels should the size of one tile be? Default is 256.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="imageBuffer" type="xs:float" minOccurs="0">
            <xs:annotation>
              <xs:documentation>for untiled wms layers: how many times should the map image be larger than the visible map. Large values mean slow loading, small ones mean many reloads when panning. Recommended values: 1-3, default is 2.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="displayOutsideMaxExtent" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Should layers also be rendered outside the map extent? Default is false.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="imageReproject" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Should layers be reprojected? Mainly used in combination with google map layers. Default is false.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="requestEncoding" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For WMTS layers: Request encoding.  Can be "REST" or "KVP".  Default is "KVP".</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="matrixSet" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For WMTS layers: One of the advertised matrix set identifiers. Must be provided.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="style" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For WMTS layers: One of the advertised layer styles.  Must be provided.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="tileOrigin" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Sets the restricted extent of the map. This is not the initial extent when the map is loaded (that's the bounding box from the context) or the maxExtent, but it is restriction of the maximum extent that the user can navigate around in. For WMTS layers: The full extent of the tile set. If not supplied, the layer's maxExtent property will be used. Note that this may also be a part (subset) of the full extent of the servers' tile set, causing a restriction to the given bounds.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="tileFullExtent" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For WMTS layers: The full extent of the tile set. If not supplied, the layer's maxExtent property will be used.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="formatSuffix" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For WMTS layers: For REST request encoding, an image format suffix must be included in the request. If not provided, the suffix will be derived from the format property.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="matrixIds" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For WMTS layers: A list of tile matrix identifiers.  If not provided, the matrix identifiers will be assumed to be integers corresponding to the map zoom level. If a list of strings is provided, each item should be the matrix identifier that corresponds to the map zoom level. Additionally, a list of objects can be provided. Each object should describe the matrix as presented in the WMTS capabilities.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="dimensions" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For WMTS layers: For RESTful request encoding, extra dimensions may be specified. Items in this list should be property names in the params object. Values of extra dimensions will be determined from the corresponding values in the params object.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="params" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>For WMTS layers: Extra parameters to include in tile requests. For KVP value of property requestEncoding, these properties will be encoded in the request query string. For REST value of property requestEncoding, these properties will become part of the request path, with order determined by the dimensions list.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="zoomOffset" type="xs:int" minOccurs="0">
            <xs:annotation>
              <xs:documentation>If your cache has more levels than you want to provide access to with this layer, supply a zoomOffset. This zoom offset is added to the current map zoom level to determine the level for a requested tile. For example, if you supply a zoomOffset of 3, when the map is at the zoom 0, tiles will be requested from level 3 of your cache. Default is 0 (assumes cache level and map zoom are equivalent). Additionally, if this layer is to be used as an overlay and the cache has fewer zoom levels than the base layer, you can supply a negative zoomOffset. For example, if a map zoom level of 1 corresponds to your cache level zero, you would supply a -1 zoomOffset (and set the maxResolution of the layer appropriately). The zoomOffset value has no effect if complete matrix definitions (including scaleDenominator) are supplied in the matrixIds property. Defaults to 0 (no zoom offset).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="serverResolutions" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A list of all resolutions available on the server. Only set this property if the map resolutions differ from the server. This property serves two purposes. (a) serverResolutions can include resolutions that the server supports and that you don't want to provide with this layer; you can also look at property zoomOffset, which is an alternative to serverResolutions for that specific purpose. (b) The map can work with resolutions that aren't supported by the server, i.e. that aren't in serverResolutions. When the map is displayed in such a resolution data for the closest server-supported resolution is loaded and the layer div is stretched as necessary.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MapScaleBarType">
    <xs:annotation>
      <xs:documentation>A widget to graphically display the map scale</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseType">
        <xs:sequence>
          <xs:element name="displaySystem" type="xs:string" minOccurs="0"/>
          <xs:element name="minWidth" type="xs:integer" minOccurs="0"/>
          <xs:element name="maxWidth" type="xs:integer" minOccurs="0"/>
          <xs:element name="divisions" type="xs:integer" minOccurs="0"/>
          <xs:element name="subdivisions" type="xs:integer" minOccurs="0"/>
          <xs:element name="showMinorMeasures" type="xs:boolean" minOccurs="0"/>
          <xs:element name="abbreviateLabel" type="xs:boolean" minOccurs="0"/>
          <xs:element name="singleLine" type="xs:boolean" minOccurs="0"/>
          <xs:element name="align" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MapScaleTextType">
    <xs:annotation>
      <xs:documentation>A widget to read and write the map scale value</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="mapScaleLabel" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The label of the map scale; optional. Default is: scale 1:</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModelStatusType">
    <xs:annotation>
      <xs:documentation>Widget to display the status of a model, repainted whenever the model status param is set.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModelUrlInputType">
    <xs:annotation>
      <xs:documentation>A widget which displays the model URL in a form which also allows the URL to be modified</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="defaultUrl" type="mb:urlPathType" minOccurs="0"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OpenLSFormType">
    <xs:annotation>
      <xs:documentation>Widget to display the OpenLS request form.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="defaultModelUrl" type="mb:urlPathType"/>
          <xs:element name="geocodeServerUrl" type="mb:urlPathType"/>
          <xs:element name="formName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OpenLSResponseType">
    <xs:annotation>
      <xs:documentation>Render the response from a Geocoding request.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OverviewMapType">
    <xs:annotation>
      <xs:documentation>Render an overview map from the main map; if neither width nor height are defined, uses the OL default of (180,90).</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseType">
        <xs:sequence>
          <xs:element name="width" type="xs:integer" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The width of the overview map; optional. If only width is given and not height, determines the height from the aspect ratio of the main map.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="height" type="xs:integer" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The height of the overview map; optional. If only height is given and not width, determines the width from the aspect ratio of the main map.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="minRatio" type="xs:integer" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Resolution ratio to main map where zooming out will occur.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="maxRatio" type="xs:integer" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Resolution ratio to main map where zooming in will occur.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="layers" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The list of layer names from the main map context to show in the overview map. If not given, the overview map defaults to just the base layer of the main map.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="layerName" type="xs:string" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>The name of the layer from the main map context to show in the overview map.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PanZoomBarType">
    <xs:annotation>
      <xs:documentation>An OpenLayers-style PanZoomBar widget that is drawn on the main map.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SaveType">
    <xs:annotation>
      <xs:documentation>After this button is selected, the Web Map Context is saved on the users local computer.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractButtonBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SaveModelType">
    <xs:annotation>
      <xs:documentation>A widget that provides a link to the initial model URL and a link tosave the current model document to disk (to be deprecated for a tool)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="serializeUrl" type="mb:urlPathType" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SearchWidgetType">
    <xs:annotation>
      <xs:documentation>Widget to display a form to input any model's URL and load the new URL as the model's document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="host" type="xs:anyURI"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TabbedContentType">
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="tab" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TimestampType">
    <xs:annotation>
      <xs:documentation>A timestamp listener to show the current timestamp value in a form.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="title" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TipWidgetBaseType">
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="width" type="xs:integer" minOccurs="0"/>
          <xs:element name="height" type="xs:integer" minOccurs="0"/>
          <xs:element name="opacity" type="xs:float" minOccurs="0"/>
          <xs:element name="backgroundColor" type="xs:string" minOccurs="0"/>
          <xs:element name="border" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>CSS border definition</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TipWidgetConfigType">
    <xs:annotation>
      <xs:documentation>Configuration widget for a TipWidgetOL in a MergeModel. Because only one GmlRendererLayer can handle events, multiple vector layers that require user interaction (like hover/click) effects are merged into a MergeModel. TipWidgetConfig makes it possible to use different configurations (eg width, height, content) for sourceModels.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:TipWidgetBaseType">
        <xs:sequence>
          <xs:element name="targetWidget" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TipWidgetOLType">
    <xs:annotation>
      <xs:documentation>Popup using OpenLayers popups.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:TipWidgetBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WebServiceFormType">
    <xs:annotation>
      <xs:documentation>A widget of config to input simple parameters to be submitted to a web service.  Output is sent to the targetModel.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType">
        <xs:sequence>
          <xs:element name="requestStylesheet" type="mb:urlPathType" minOccurs="0"/>
          <xs:element name="webServiceUrl" type="xs:anyURI" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WfsGetFeatureType">
    <xs:annotation>
      <xs:documentation>After this button is selected, clicks on a MapPane will initiate a WFS GetFeature GET request and the result will be stored in the targetModel FeatureCollection.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractButtonBaseType">
        <xs:sequence>
          <xs:element name="transactionResponseModel" type="xs:string">
            <xs:annotation>
              <xs:documentation>The model which will be populated with the server response.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="webServiceUrl" type="mb:urlPathType">
            <xs:annotation>
              <xs:documentation>The base URL of the Web Service that will be queried.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="webServiceSrs" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The SRS to be used when requesting features from the server. Optional, by default EPSG:4326 is used.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="typeName" type="xs:string">
            <xs:annotation>
              <xs:documentation>A comma separated list of layers to query.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="tolerance" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The number of pixels around the click point that are included in the query; tolerance=0 means a Bbox of 1x1 pixel is queried, tolerance=1 means a Bbox of 3x3 is queried, tolerance=2 means a Bbox of 5x5 is queried.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="maxFeatures" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The maximum number of features returned by the query.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WidgetType">
    <xs:annotation>
      <xs:documentation>A generic widget which will simply process a model with a stylesheet - no specialized listeners provided</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractWidgetBaseXSLType"/>
    </xs:complexContent>
  </xs:complexType>

  <!-- global tool extension types -->  
  <xs:complexType name="Caps2ContextType">
    <xs:annotation>
      <xs:documentation>A tool which builds a Web Map Context document from a Web Map Capabilities document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractToolBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EditContextType">
    <xs:annotation>
      <xs:documentation>Tool which manipulates the Layer list of a Web Map Context document.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractToolBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EditSLDType">
    <xs:annotation>
      <xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractToolBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HistoryType">
    <xs:annotation>
      <xs:documentation>A tool to navigate in the map extent history</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractToolBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MergeModelsType">
    <xs:annotation>
      <xs:documentation>A tool that can combine other models from the config that have the same structure. It is designed for models that hold features with a unique feature id in a parameter called "fid". This is useful eg. for packing all GML rendering into a single GmlRendererOL.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractToolBaseType">
        <xs:sequence>
          <xs:element name="merges">
            <xs:annotation>
              <xs:documentation>a list of models that are to be merged into the model that this tool belongs to.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="merge" maxOccurs="unbounded">
                  <xs:annotation>
                    <xs:documentation>id of a model to merge with the model that this tool belongs to.</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="FeatureSelectHandlerType">
    <xs:annotation>
      <xs:documentation>Adds a handler to the map that allows selection of features (eg. for highlighting them on mouseover)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractToolBaseType"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MovieLoopType">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractToolBaseType">
        <xs:sequence>
          <xs:element name="framesPerSecond" type="xs:integer" minOccurs="0"/>
          <xs:element name="maxFrames" type="xs:integer" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TimerType">
    <xs:annotation>
      <xs:documentation>TBD</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractToolBaseType">
        <xs:sequence>
          <xs:element name="autoStart" type="xs:boolean" minOccurs="0"/>
          <xs:element name="eventName" type="xs:string" minOccurs="0"/>
          <xs:element name="eventValue" type="xs:string" minOccurs="0"/>
          <xs:element name="every" type="xs:integer" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WebServiceRequestType">
    <xs:annotation>
      <xs:documentation>A tool which will generate web service requests from a node from the parent model. Widgets using this tool end with WSR, eg. GetFeatureInfoWSR</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractToolBaseType">
        <xs:sequence>
          <xs:element name="stylesheet" type="xs:string" minOccurs="0"/>
          <xs:element name="requestName" type="xs:string"/>
          <xs:element name="requestFilter" type="xs:string" minOccurs="0"/>
          <xs:element name="maxFeatures" type="xs:integer" minOccurs="0">
            <xs:annotation>
              <xs:documentation>MAXFEATURES parameter, e.g. for WFS GetFeature. Defaults to 500.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="infoFormat" type="xs:string" minOccurs="0">
            <xs:annotation>
              <xs:documentation>INFO_FORMAT parameter, e.g. for WMS GetFeatureInfo</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="featureCount" type="xs:integer" minOccurs="0">
            <xs:annotation>
              <xs:documentation>FEATURE_COUNT parameter, eg. for WMS GetFeatureInfo</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ZoomToAoiType">
    <xs:annotation>
      <xs:documentation>A tool reset the model extent to the AOI </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="mb:AbstractToolBaseType"/>
    </xs:complexContent>
  </xs:complexType>

  <!--utility types-->
  <xs:simpleType name="idType">
    <xs:restriction base="xs:ID"/>
  </xs:simpleType>
  <xs:simpleType name="urlPathType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="tooltipType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="httpMethodType">
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
